@charset "utf-8";
/* 
display: flex;
  font-family: 'Playfair Display',Georgia, serif ; 
  font-size:1.5em;
  font-weight: 700;
  text-align: left;
  height: 400px;
  width: 490px;
  margin-top: 16rem;
  margin-left: -10rem;
  opacity: 1.5;



.oi .subtitle{
    font: 15px "Quicksand",Arial, sans-serif;
    flex-direction: column;
     width: 200px;
     height: 40px;
     margin-top: 19rem;
     margin-left:-128rem;
     text-align: left;
     margin-bottom: 1rem;
     position: relative; */