#all{
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
   width: 100%;
  }
  h1{
    padding: 1em;
  }
  p{
    padding: 1em;
  }
  div{
    padding: 1em;
  }



