
/*
na area home, as div oi e funcao. dveem ter uma transição animada de subida opaca para visivel, e o background não transiciona como qualquer item. ele nao sobe, ele é transparente para chegar visivel 


*/

@keyframes fade-inOut{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.fade-inOut{
    /* apply animation*/
    animation:  fade-inOut 1.5s  alternate;
    transition: opacity 1.5s;
}


/* @keyframes fadeToUp{
    from{
      visibility: hidden;
      margin-top: 100%;
      width: 300%;
    }
    to{
      visibility: visible;
      margin-top: 0;
      width: 100%;
    }
  }
  .fadeToUp{
    animation: fadeToUp 1.5s;
    transition: margin 1.5s;
  } */

.fadeToUp{
  visibility: hidden;
}
