
.fadeToUp,.fadeToUpFunc .fadeToUp-delay, .fadeToleftDelay,.fadeToUp-delay2,
.fadeToUp-delay3,
.fadeToUp-delay4,
.fadeToUp-delay5,
.fadeToUp-delay6,
.fadeToRight,
.fadeToRight-2,
.fadeToRight-3,
.fadeToRight-4,
.fadeToRight-5{
  visibility:hidden;

}

@keyframes fade-inOut{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.fade-inOut{
    /* apply animation*/
    animation:  fade-inOut 1.5s  alternate;
    transition: opacity 1.5s;
}



