
.fadeToUp-delay, .fadeToleftDelay{
  visibility: hidden;
}
.fadeToUpFunc{
  visibility: hidden;
}
@keyframes fade-inOut{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.fade-inOut{
    /* apply animation*/
    animation:  fade-inOut 1.5s  alternate;
    transition: opacity 1.5s;
}



