/* Estilos - configurar o estilo do aside menu lateral fixo, enquanto conteúdo   
quero de inicio o estilo do documento em branco primeiramente. seguido com os menus num tom de cinza. 
*/
 /* body é configurado para usar flex para organizar a aside e a main em linha (lado a lado).
menu-lateral é configurado como fixo à esquerda e com uma altura de 100% da janela, tornando-o fixo enquanto o conteúdo da main rola.
main tem uma margem esquerda para deixar espaço para a aside.
overflow-y: auto; em menu-lateral adiciona uma barra de rolagem vertical se o conteúdo for maior do que a altura da janela. */
/* CONTEUDO CENTRAL */
.main {
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   /*ajuste da margem esquerda para corresponder à largura da aside */
  padding: 1em; /* Adicione algum preenchimento para separar o conteúdo da aside */
  flex: 1;  
  background-color: #FFF;
    min-height: fit-content;
    width: 100%;
    height: auto;
    text-align: center;
    color: #020000;
    flex-direction: column;
    margin-left: 20em;
    
   /* background-image: url(hacker.png);*/
   /* border: 1px solid rgb(255, 255, 255);*/
    /* background-image: url(d481f3c72e283309071f79e01b05c06d.gif) ; */
    background-size: cover;
    background-position: center center;  /*https://developer.mozilla.org/pt-BR/docs/Learn/Getting_started_with_the_web/Publishing_your_website*    ou background: url(imagem.jpg) center center cover no-repeat fixed;*/
      /* Adicione outras propriedades conforme necessário */
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.749);
      padding: 2em;

  }
  
  
.oi{
  font-size:2em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-image: url(images/men-white.jpg);
  padding-bottom: 10px;
  
}
.funcao{
  color: #FFF;
  font-size: 2em;;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url(images/d481f3c72e283309071f79e01b05c06d.gif )  ;
  
  
}

.about-me{
text-align: left;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

}

.conteudo{
background: url();
box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.principal{
  padding: 10px 0 30px 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
#projects{
  display: flex;
  flex-wrap: wrap ;
align-items: center;
align-content: space-between;
  margin: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding-bottom: 200px;
  
}
.p{

display: flex;
flex-wrap: wrap;
margin: 5px;
width: 290px;
height: 250px;
box-shadow: 0 0 1px black;
border: 1px solid rgba(0, 0, 0, 0.387);

}
em{
  font-size: 10px;
}
.conteudo2{
  box-shadow: 0 0 2px #020000;
}
.education{
 box-shadow: 0 0 1px black;
}
.education p{
  text-align: initial;

  border: 1px solid rgba(0, 0, 0, 0.603);
}
.contact{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:  #FFF ;/* #f4f4f4; */
  font-family: Arial, sans-serif;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.contact .h1{
  text-align: center;
}
.form{
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  border: 1px solid black;
}
.label{
  display: block;
  margin-bottom: 9px;
  text-align: justify;
}
.btn2{
  background-color: #4c8baf;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;

}
.btn1:hover, .btn2:hover{
  background-color: #001a6e;

}
.input{
             width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
          }
#mensagem{
  width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
}
.footer{
  text-align: center;
}
/*

;
            
            
        }

        h1 {
            text-align: center;
            
        }

        form {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049;
        }
*/


.footer{
    color: rgb(103, 138, 244);
  margin-left: 400px;  
  font-size: 10px;
}

