@charset "utf-8";

@media screen and (max-width: 480px) {
  figure figcaption {
    width: 100%; } }

    
@media screen and (max-width:600px){

.menu-lateral{  /*ABRIR E FEHCAR*/
 display: flex;
flex-direction: column;
z-index: 1;
overflow-y: auto;

padding: 0 0.2em 0 0.2em;
border-radius: 1em;
width: 20%;
height: 100%;
}
.menu-lateral i{
text-align: right;
width: 100%;
padding: 2px;
}
.menu-js .btn3{
    display: flex;
 margin-left:1.5px;
text-align: center;
background-color: #b3b3b300;
border-radius: 2px;
margin-top: 5px;
 border: 0.5px solid black;
}

.menu-lateral ul li{
    display: flex;
    
}
.menu-lateral .cargo .azul{
margin: 1vh;
}
.menu-lateral img{
    height: 15em;
    width: 12em;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    padding: 2px;
}
.menu-lateral ul li{
    display: flex;
    list-style-type: none;
    line-height: 1vw;
    margin: 3vh;  /* Adicione esta linha para espaçamento entre os itens da lista */
    padding: 10px 0px 20px 0px;
    border-radius: 3px;
    
    }
    
    .caixa-de-textos ul li{
      padding: 1vw 0 0 1.5vw;
     
    }
    .btn1{
      margin: 1vw;
      background-color: #ffffff;
      border-radius: 1em;
      font-size: large;
      text-align: center;
      padding-right:0.6vw;
      font-weight: bold;
      color: rgba(48, 106, 241, 0.941); 
      padding:1em;  
      border: 1px solid black;
      cursor: pointer;
    }
    */
    .main {
        z-index: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
         /*ajuste da margem esquerda para corresponder à largura da aside */
        padding: 1em; /* Adicione algum preenchimento para separar o conteúdo da aside */
        flex: 1;  
          min-height: fit-content;
          width: 80%;
          height: auto;
          text-align: center;
          color: #020000;
          flex-direction: column;
          margin-left: 20em;
         /* background-image: url(hacker.png);*/
         /* border: 1px solid rgb(255, 255, 255);*/
          /* background-image: url(d481f3c72e283309071f79e01b05c06d.gif) ; */
          background-size: cover;
          background-position: center center;  /*https://developer.mozilla.org/pt-BR/docs/Learn/Getting_started_with_the_web/Publishing_your_website*    ou background: url(imagem.jpg) center center cover no-repeat fixed;*/
            /* Adicione outras propriedades conforme necessário */
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.749);
            padding: 2em;
        }    
.contact .form{
    border-radius: 20px;
}
}

.education  p {
    margin-left:-0.5em;
    width: 80%;
    align-items: center;
}
.main .conteudo i{
    display: flex;
    flex: auto; 
    
}
.footer{
    color: rgb(103, 138, 244);
  margin-left: 200px;  
  font-size: 1.5em;
width: 100%;
}
/* @media print { }

@media only screen and (min-width: 480px) { } @media only screen and (min-width: 600px) { } @media only screen and (min-width: 992px) { } @media only screen and (min-width: 1382px) { }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (
 @media screen and(max-width:600px) {
    

/* @media screen and (max-width: 768px) {
        #colorlib-aside #colorlib-main-menu ul {
          margin: 0 0 2em 0; } }
          




*/  