@charset "utf-8";
/* Utilizando viewport width (vw) para a altura da imagem */
/* ver novamente a estrutura para melhor responsividade */


/* Estilos - configurar o estilo do aside menu lateral fixo, enquanto conteúdo   
p de inicio o estilo do documento em branco primeiramente. seguido com os menus num tom de cinza. 
*/
/* body é configurado para usar flex para organizar a aside e a main em linha (lado a lado).
menu-lateral é configurado como fixo à esquerda e com uma altura de 100% da janela, tornando-o fixo enquanto o conteúdo da main rola.
main tem uma margem esquerda para deixar espaço para a aside.
overflow-y: auto; em menu-lateral adiciona uma barra de rolagem vertical se o conteúdo for maior do que a altura da janela. */

/*ajuste da margem esquerda para corresponder à largura da aside */
/* Adicione algum preenchimento para separar o conteúdo da aside */
/* Adicione outras propriedades conforme necessário */
@media screen and (max-width:760px) {
     *{
          margin: 0;
          padding: 0;

     }
     body{
          /* background-color: #000; */
     }
     #aside, aside,  .menu-lateral-active, .footer, .caixa-de-textos, .position {
          display: none  !important;
          width: 0;
          height: 0;
               width: auto; /* Ajuste para evitar sobreposição */
               max-width: 250px; /* Define um limite para a largura */
     }
     #main .main{
          z-index: 10;
          display: flex;
          position: relative;
          flex-wrap: wrap;
          flex-direction: column;
          min-width: 100%;
          min-height: 100%;
          margin: 0 0  0 0;
          flex-grow: 1;
     }

     .conteudo{
          margin: 0;
     }

     .oi{
          width: 100%;
          height: 100%;

     }

    


}