 *{   margin: 0px;
    border: 0px;
}
.principal {
    display: flex;
  gap: 1px;
  background-color: #000000;
  height: max-content;
}

.menu-lateral {
    background-color: #000000;
    color: aliceblue;
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   border: solid 1px white;
   margin: 20px;
}

.ul>li{
list-style-type: none;
line-height: 2.0;
  }
.menu-lateral> img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}
.menu-lateral .cargo .azul {
    color: #63AFF2;
    margin: 10px;

}
.caixa-de-textos>ul {
        font-family: Arial, Helvetica, sans-serif
        padding-bottom: 50px; 
}
.btn1{
font-size: large;
text-align: center;
border: 5px;
padding-right:6px;
font-weight: bold;
color: rgba(79, 129, 246, 0.941);
padding-right: -98px;
}
.conteudo {
    min-height: fit-content;
    width: 70%;
    height: auto;
    text-align: center;
    color: #fffdfd;
   /* border: 1px solid rgb(255, 255, 255);*/
    background-image: url(d481f3c72e283309071f79e01b05c06d.gif) ;
    background-size: cover;
    background-position: center center;  /*https://developer.mozilla.org/pt-BR/docs/Learn/Getting_started_with_the_web/Publishing_your_website*    ou background: url(imagem.jpg) center center cover no-repeat fixed;*/
  }
.conteudo>section>div{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
section{
  display: inline-block;
}

.conteudo> h1, .conteudo>div>h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
}
.conteudo2{
    background-image:url(d481f3c72e283309071f79e01b05c06d.gif);
    background-size: cover;
    background-position:center center;
}
footer{
    color: rgb(103, 138, 244);
}

