.principal {
    display: flex;
    gap: 2em;
  padding-bottom:  2px;
  background-color: #000000;
}
h1{
    color: aliceblue;
}
.menu-lateral {
    background-color: #000000;
    color: aliceblue;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    font-family: "Quicksand", Arial, sans-serif;
    border: 1px solid white;
}

.menu-lateral,  h1 {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 30px;

}

.menu-lateral img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.menu-lateral .cargo {
    opacity: 70%;
}

.menu-lateral .cargo .azul {
    color: #63AFF2;
}

.conteudo {
    background-color: #3b383832;
    width: 70%;
    height: 100vh;
    text-align: center;
    color: #63AFF2;
    border: 1px solid white
}
.conteiner{
width: auto;
height: 100vh;

}

.img2{
    width:70vh;
    height: 99vh;
}
 li{
    font-family: "Quicksand", Arial, sans-serif;
    list-style-type: none;
 padding-bottom: 10px;
}
.caixa-de-textos {
    padding: 5px;
}
.btn1{
font-size: large;
text-align: center;
border: 5px;
padding-right:6px;
font-weight: bold;
color: rgba(79, 129, 246, 0.941);
padding-right: -98px;
}
footer{
    color: aliceblue;
}
