.em {
    color: #999999;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 2px;
    font: 700;
}


.about-me {
    text-align: left;
    margin: 20rem 0 0 4rem;

}


.about-me>em {
    margin-top: -6rem;
    margin-left: -1.2rem;
    font-size: 12px;
    color: #999999;

}

.about-me-text {
    text-align: start;
    margin-top: 1rem;
    font: 700 18px "Playfair Display";
    margin-left: 40px;

}


#about-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 400 15px "Quicksand", arial, sans-serif;
    color: #000000b3;
     letter-spacing: .7px !important;

}
.principal p:nth-child(1) {
    text-align: justify;
    font: 400 15px "Quicksand", arial, sans-serif;
    color: #000000b3;
    margin: 40px 0 0 0 ;

}
.principal p {
    text-align: justify;
    font: 400 15px "Quicksand", arial, sans-serif;
    color: #000000b3;
    margin: -20px 0 0 0 ;
   

}

.rowservices {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    margin-bottom: 2.5rem;
    margin-top: 6.25rem;
    animation-duration: 3s;
    animation-name: 'fade-inOut';
    transition-delay: 3.5s;
}

.rowservices h3 {
    font: 500 16px "Quicksand", arial, sans-serif;
}

.design {
    width: 10rem;
    height: 10rem;
    border-bottom: 3px solid #2ca6f8;
    margin-right: 3rem;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.578);
}

.icon0 {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin-top: 20px;
    margin-left: 0;
    height: 80px;
    width: 68px;
    box-shadow: 10px;
    margin-bottom: -20px;

}

.icon0>.fa-lightbulb {
    display: block;
    margin: 5px 9em 0 0;
    color: #2ca6f8;
    position: relative;
    left: 20px;
}

#design {
    width: 10rem;
    height: 10rem;
    border-bottom: 3px solid #d60c0c;
    margin-right: 3rem;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.578);

}

.icon3 {
    text-align: center;
    margin: auto;
}

.icon3 img {
    height: 80px;
    width: 68px;
    display: flex;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    box-shadow: 10px;
}

.icon4 img {
    height: 80px;
    width: 68px;
    display: flex;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    box-shadow: 10px;
}

#design2 {
    width: 10rem;
    height: 10rem;
    margin-top: 2px;
    border-bottom: 3px solid #d3d60c;
    margin-right: 0rem;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.578);
    z-index: 99;

}

.icon5 img {
    height: 80px;
    width: 68px;
    display: flex;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    box-shadow: 10px;

}

#design3 {
    width: 160px;
    height: 150px;
    margin-top: -2px;
    border-bottom: 3px solid #990cd6;
    margin-right: 5rem;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.578);

}

#row-row-expertise #hexagono {
    margin: 100px;
    width: 100px;
    height: 55px;
    background: red;
    position: fixed;
    margin: 30px;

}

#hexagono:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
}

.imagem {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-weight: 700;
}

#img01 {
    display: flex;
    flex-direction: row;
    width: 870px;
    height: 15rem;
    background-image: url(https://technext.github.io/jackson/images/cover_bg_1.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img01 .imagem {
    background-color: rgba(28, 27, 27, 0.361);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
    width: 870px;
}

#imagem span {
    font: "Quicksand", Arial, sans-serif 16px;
    margin-left: 45px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 4px;
}

.n {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#imagem .n {
    margin: auto;
}

.t1 {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #ffffffb3;
    margin-left: -20px;
}

.t {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #ffffffb3;
}

#hire,
.hire {
    height: 207px;
    width: 800px;
    position: relative;
    margin-left: 20px;
    background: #f9bf3f;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    padding: 30px;

}

#hire h2 {
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px;
}

#hire a {
    font-size: 16px;
    font-family: 'Quicksand';
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

#expertise h2 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    width: 285px;
    margin-left: 30px;
    margin-bottom: 8rem;
    word-spacing: 1.4px;
}

#expertise em {
    margin-top: 150px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #999999;
}

.desc .hex i {
    margin-top: -30px;
    margin-bottom: 0;
    margin-right: 0;
}

.desc {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    height: 600px;
    font: 15px 'Quicksand' arial sans-serif;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 0.3rem;
    animation-duration: 3s;
    animation-name: 'fade-inOut';
    transition-delay: 3.5s;
}

.desc span {
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px 0 5px 27px;
    justify-content: space-between;
    width: 200px;
    height: 180px;
    background: #fff;
    padding: 22.5px;
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
}

.desc {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
}

.desc p {
    display: flex;
    flex: 1;
    margin-top: 0.9rem;
    font: 300 15px "Quicksand", sans-serif;

}

.conteudo #expertise .desc .hex {
    background-color: #007bff;
    content: "";
    width: 100px;
    height: 55px;
    position: absolute;
    margin: -80px -120px;
    padding: 30px 0 10px 0;

}

.conteudo #expertise .desc .hex span {
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17)
}

.conteudo #expertise .desc .hex::before,
.conteudo #expertise .desc .hex::after {
    content: '';
    position: absolute;
    width: 0;
    border-top: -50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hex::before {
    top: -25px;
    left: -1px;
    border-bottom: 25px solid #007bff;
}

.hex::after {
    bottom: -25px;
    left: -1px;
    border-top: 25px solid #007bff;
}

.fa-lightbulb {
    display: flex;
    color: white;
    margin-left: 0px;
    margin-top: -28px;
    font-size: 30px;
}

.fa-database {
    display: flex;
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-top: -30px;
    font-size: 30px;
    color: white;
}

.fa-mobile {
    display: flex;
    color: white;
    text-align: center;
    margin-left: 0;
    margin-top: -30px;
    font-size: 30px;
    color: white;
}

.fa-layer-group {
    display: flex;
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-top: -30px;
    font-size: 30px;
    color: white;
}

.conteudo #expertise .desc .hex2 {
    background-color: #ec5353;
    content: "";
    width: 100px;
    height: 55px;
    position: absolute;
    margin: -80px -100px;
    padding: 30px 0 0 0;
    border-bottom: transparent;
}

.conteudo #expertise .desc .hex2::before,
.conteudo #expertise .desc .hex2::after {
    content: '';
    position: absolute;
    width: 0;
    border-top: -50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hex2::before {
    top: -25px;
    left: -1px;
    border-bottom: 25px solid#ec5353;
}

.hex2::after {
    bottom: -25px;
    left: -1px;
    border-top: 25px solid #ec5353;

}

.conteudo #expertise .desc .hex3 {
    background-color: #f9be3f;
    content: "";
    width: 100px;
    height: 55px;
    position: absolute;
    margin: -80px -100px;
    padding: 30px 0 0 0;
    border-bottom: transparent;
}

.conteudo #expertise .desc .hex3::before,
.conteudo #expertise .desc .hex3::after {
    content: '';
    position: absolute;
    width: 0;
    border-top: -50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.conteudo #expertise .desc span {
    border: 1px solid rgba(0, 0, 0, 0.149);
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
}

.hex3::before {
    top: -25px;
    left: -1px;
    border-bottom: 25px solid #f9be3f;
}

.hex3::after {
    bottom: -25px;
    left: -1px;
    border-top: 25px solid #f9be3f;
}

.conteudo #expertise .desc .hex4 {
    background-color: #a84cb8;
    content: "";
    width: 100px;
    height: 55px;
    position: absolute;
    margin: -80px -90px;
    padding: 30px 0 0 0;
    border-bottom: transparent;
}

.conteudo #expertise .desc .hex4::before,
.conteudo #expertise .desc .hex4::after {
    content: '';
    position: absolute;
    width: 0;
    border-top: -50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hex4::before {
    top: -25px;
    left: -1px;
    border-bottom: 25px solid#a84cb8;
}

.hex4::after {
    bottom: -25px;
    left: -1px;
    border-top: 25px solid rgb(168, 76, 184);
}

.conteudo #expertise .desc .hex5 {
    background-color: #2fa498;
    content: "";
    width: 100px;
    height: 55px;
    position: absolute;
    margin: -80px -100px;
    padding: 30px 0 0 0;
    border-bottom: transparent;
}

.conteudo #expertise .desc .hex5::before,
.conteudo #expertise .desc .hex5::after {
    content: '';
    position: absolute;
    width: 0;
    border-top: -50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hex5::before {
    top: -25px;
    left: -1px;
    border-bottom: 25px solid #2fa498;
}

.hex5::after {
    bottom: -25px;
    left: -1px;
    border-top: 25px solid #2fa498;
}

.conteudo #expertise .desc .hex6 {
    background-color: #4055b2;
    content: "";
    width: 100px;
    height: 55px;
    position: absolute;
    margin: -80px -100px;
    padding: 30px 0 0 0;
    border-bottom: transparent;
}

.conteudo #expertise .desc .hex6::before,
.conteudo #expertise .desc .hex6::after {
    content: '';
    position: absolute;
    width: 0;
    border-top: -50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hex6::before {
    top: -25px;
    left: -1px;
    border-bottom: 25px solid #4055b2;
    ;

}

.hex6::after {
    bottom: -25px;
    left: -1px;
    border-top: 25px solid #4055b2;

}